
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(48, 0, 95);
    text-align:center;
    text-justify: center;
    font-size:clamp(100px,10vw,300px);
    flex-shrink: 1;

    

    @media (600px <= width) {
      flex-wrap: nowrap;
      flex-shrink: calc();
  }
}

body {
   font-family:Georgia, 'Times New Roman', Times, serif;
   color:rgb(48, 0, 95);
   text-align:center;
   text-justify: center;
  
   max-width:100%;
   max-height:100%;
   background-repeat:no-repeat;
   background-color:rgb(153, 153, 212)
   background-blend-mode:screen(rgb(201, 175, 246));

   @media (600px <= width) {
      flex-wrap: nowrap;
  }
}
 ul{
    font-family:'Courier New', Courier, monospace;
    color: rgb(124, 94, 153);
    text-align:center;
    text-justify:center;
    font-weight: bold;
    font-size:60px;

    @media (600px <= width) {
      flex-wrap: nowrap;
  }

 }
a:hover{
    color:black;
    background-color:white;
}
 .bio{
    margin-top:100px;
    font-family:Georgia, 'Times New Roman', Times, serif
    background-color:rgb(167, 150, 207);
    color:(48,0, 95);
    margin-left: 100px;
    margin-right: 50px;
    text-align:left;

    @media (600px <= width) {
      flex-wrap: nowrap;
  }
 }

 h2{
    margin-top:1000x;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(48, 0, 95);
    text-align:center;
    text-justify: center;
    font-size: 100px;

    @media (600px <= width) {
      flex-wrap: nowrap;
  }
 }

 /* These styles are for individual items on each gallery page */
 .item {
  margin: auto;
  justify-content:center;
  align-items: center;
  padding: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.item a,
.item img {
  display: inline-block;
}

.item img {
  max-width:fit-content;
  max-height:fit-content;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.item .caption {
  margin-top: 50px ;
  margin-bottom: 200px;
  font-family:'Courier New', Courier, monospace;
  color: rgb(6, 44, 6);
  text-align:center;
  text-justify:center;
  font-weight: bold;
  font-size: 50px;
}



